<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.honortone.api.mapper.ProductMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.honortone.commons.entity.Product">
        <id column="ID" property="id" />
        <result column="item" property="item" />
        <result column="PartNumber" property="partNumber" />
        <result column="Batch" property="batch" />
        <result column="UID" property="uid" />
        <result column="Quantity" property="quantity" />
        <result column="Stock" property="storageLoc" />
        <result column="Status" property="state" />
        <result column="WO" property="wo" />
        <result column="RecTime" property="recTime" />
        <result column="Plant" property="plant" />
        <result column="CreateUser" property="createUser" />
        <result column="CreateDate" property="createDate" />
    </resultMap>

    <!-- ew.customSqlSegment -> 条件构造器拼接语句（一定要加，否则会出现变量设置问题） -->
    <!-- 字段不能加 []，mybatis plus 不能识别 []，有 bug -->
    <select id="findByCreateDate" resultMap="BaseResultMap">
        select row_number() over(order by CreateDate) as item,
            row_number() over(order by CreateDate) as item,*
        from
            FG_Inventory ${ew.customSqlSegment}
    </select>

    <select id="findAll" resultMap="BaseResultMap">
        select
            row_number() over(order by CreateDate) as item,*
        from
            FG_Inventory ${ew.customSqlSegment}
    </select>

</mapper>
